*

!src
!src/*

!test_programs
!test_programs/*

!test_programs/linux/extra
!test_programs/linux/extra/**

!hardfloat
!hardfloat/*

!.gitignore
!.gitmodules
!LICENSE
!Makefile
!README.md
!Top_tb.cpp
!linker.ld
!view.gtkw
!docs
!docs/*
